<!doctype html>
<html lang="zxx" class="dark">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="100 Stacks">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="keywords" content="Wallet tracker">
    <meta name="description" content="100 Stacks - follow any address">
    <title>Stacks</title>
    <link rel="shortcut icon" href="/assets/img/small-logo.ico">
    <link href="/assets/css/theme.css" rel="stylesheet">


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8LHSWPXRM0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-8LHSWPXRM0');
    </script>
  </head>
  <body>
    <a id="skippy" class="skippy visually-hidden-focusable overflow-hidden" href="#content">
      <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
      </div>
    </a>
    <div id="loading" class="loading-preloader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="wrapper bg-gray-200">
      <!-- Header -->
      <header class="main-header main-header-01 headroom navbar-light fixed-top default-fixed-header">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Logo -->
            <a class="navbar-brand header-navbar-brand" href="/">
              <img class="logo-dark" src="/assets/img/logo.png" title="" alt="" style="width:150px">
              <!-- <img class="logo-light" src="/assets/img/logo-light.svg" title="" alt=""> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse one-page-nav" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">

                <li class="nav-item">
                  <a href="/wl-soon" class="nav-link">Whitelist <small>(soon)</small></a>
                </li>
                <li class="nav-item">
                  <a href="https://docs.stacksfi.xyz" class="nav-link" target="_blank">Docs</a>
                </li>
                <li class="nav-item">
                  <a href="http://discord.gg/zpmUK2e4ST" class="nav-link" target="_blank">Discord</a>
                </li>
                <li class="nav-item">
                  <a href="https://twitter.com/stacksfi_xyz" class="nav-link" target="_blank">Twitter</a>
                </li>
                <li class="nav-item">
                  <a href="https://mirror.xyz/0x934AE6cCb5f413D9DFCb4171A54ECeCf1c0dA782"
                    class="nav-link" target="_blank" >Mirror</a>
                </li>
              </ul>
            </div>
            <!-- End Menu -->
            <div class="nav flex-column flex-lg-row d-none d-lg-flex">
              <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <section id="home" data-scroll-index="0" class="bg-gray-200 section pb-0 section-main">
          <div class="container">
            <div class="row justify-content-center align-items-center pt-8">
              <div class="col-12 col-lg-10 text-center wow fadeInUp">
                <br>
                <h1 class="display-4 lh-1 fw-800 mb-4 main-top-padding">
                  Access real yield with Stacks
                </h1>
                <div class="w-lg-90 w-xl-75 mx-auto">
                  <p class="lead">
                    Stacks finance is an investment DAO that manages a treasury created by the sale of our exclusive Stacks NFTs.
                    We auction one NFT per day. Sales from the NFTs create a treasury that's expertly invested.
                    NFT holders can access revenue share from said treasury.
                  </p>
                  <p>We're on Ethereum</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section data-scroll-index="0" class="bg-gray-100 section pb-0 section-main">
          <div class="col-lg-12 pt-2 wow fadeInUp timer-div">
            <h2 class="subtitle main-top-padding">
              Whitelist access coming soon...
            </h2>
            <div id="timer"></div>
            <p>9th December @ 06:00 PM GMT</p>
            <script>
              let updateTimer = () => {
                let future = Date.parse("dec 9, 2022 18:00:00");
                let now = new Date();
                let diff = future - now;

                let d = Math.floor(diff / (1000 * 60 * 60 * 24));
                let hours = Math.floor(diff / (1000 * 60 * 60));
                let mins = Math.floor(diff / (1000 * 60));
                let secs = Math.floor(diff / 1000);

                let h = hours - d * 24;
                let m = mins - hours * 60;
                let s = secs - mins * 60;

                document.getElementById("timer").innerHTML = '<div>' + d + '<span>Days</span></div>' +
                  '<div>' + h + '<span>Hours</span></div>' + '<div>' + m + '<span>Minutes</span></div>' +
                  '<div>' + s + '<span>Seconds</span></div>';
              }
              setInterval('updateTimer()', 1000);
            </script>

            <!-- <div class="pt-2 text-center">
              <a class="btn btn-primary-light" href="https://app.100stacks.io/users/sign_up">Join our whitelist</a>
            </div>
            <p class="m-0 pt-2 text-center">Closing in 14 days</p> -->
          </div>
        </section>

        <section id="home" data-scroll-index="0" class="bg-gray-200 section pb-0 section-main">
          <div class="container">
            <div class="row justify-content-center align-items-center pt-8">
              <div class="col-12 col-lg-10 text-center wow fadeInUp">
                <br>
                <h1 class="display-4 lh-1 fw-800 mb-4 main-top-padding">
                  Help us get started
                </h1>
                <div class="w-lg-90 w-xl-75 mx-auto">
                  <p class="lead">
                    We want this project to be funded by the community that'll use it and reap the rewards.
                    We're launching a paid whitelist. This serves two purposes.
                    Gives you early access to the project, with a limited numbers of participants.
                    Gives the project an initial boost of cash so it can get off the ground.
                  </p>
                  <b><a href="https://docs.stacksfi.xyz/launch/whitelist" target="_blank">Learn more about our whitelist</a></b>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="faq" data-scroll-index="4" class="section bg-gray-100">
          <div class="container pb-10">
            <div class="row justify-content-center section-heading">
              <div class="col-lg-8 col-xl-7 text-center wow fadeInUp" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeInUp;">
                <h6 class="text-primary mb-3"></h6>
                <h3 class="h1 mb-3 subtitle">Questions?</h3>
                <div class="lead"></div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-10 wow fadeInUp" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.05s; animation-name: fadeInUp;">
                <div class="accordion shadow-sm rounded-3" id="accordionExample_01">
                  <div class="accordion-item">
                    <p class="m-0 accordion-header" id="heading_01_1">
                      <button class="py-3 bg-white accordion-button text-dark text-start fw-700 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_1" aria-expanded="false" aria-controls="collapse_01_1">
                        What is Stacks Finance?
                      </button>
                    </p>
                    <div id="collapse_01_1" class="bg-white accordion-collapse collapse" aria-labelledby="heading_01_1" data-bs-parent="#accordionExample_01" style="">
                      <div class="accordion-body col-10 offset-1">
                        Stacks finance is an investment club that manages a treasury created by the sale and re-sale of our exclusive Stacks NFTs.
                        Our NFTs give the holder access to our dapp where they can see data about how the treasury is invest, the returns and they can manage their funds.
                        The bulk of the investment is made of the revenue of the sales of the NFTs and this principal is to be invested in multiple vehicles. For more information about this check this page.
                        The dapp, contracts and NFTs will live in the Ethereum network.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <p class="m-0 accordion-header" id="heading_01_1">
                      <button class="py-3 bg-white accordion-button text-dark text-start fw-700 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_12" aria-expanded="false" aria-controls="collapse_01_1">
                        What does it do?
                      </button>
                    </p>
                    <div id="collapse_01_12" class="bg-white accordion-collapse collapse" aria-labelledby="heading_01_1" data-bs-parent="#accordionExample_01" style="">
                      <div class="accordion-body col-10 offset-1">
                        Stacks will be a hedge to degen plays in the market.
                        We want to create a fund that makes stables and safe investments that give a consistent return every month to holders of the NFT.
                        Returns from the treasury investment are distributed as follows:<br>
                        50% reinvested into the treasury investments<br>
                        50% distributed to NFT holders<br>
                        The funds for the monthly profits become available on the 1st of every month as USDC. As an NFT holder you'll have access to your share of these funds. For an example check this page.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <p class="m-0 accordion-header" id="heading_01_2">
                      <button class="py-3 bg-white accordion-button text-dark text-start fw-700 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_2" aria-expanded="false" aria-controls="collapse_01_2">
                        How can I participate?
                      </button>
                    </p>
                    <div id="collapse_01_2" class="bg-white accordion-collapse collapse" aria-labelledby="heading_01_2" data-bs-parent="#accordionExample_01" style="">
                      <div class="accordion-body col-10 offset-1">

                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <p class="m-0 accordion-header" id="heading_01_3">
                      <button class="py-3 bg-white accordion-button text-dark text-start fw-700 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_3" aria-expanded="false" aria-controls="collapse_01_3">
                        How does the DAO make money?
                      </button>
                    </p>
                    <div id="collapse_01_3" class="bg-white accordion-collapse collapse" aria-labelledby="heading_01_3" data-bs-parent="#accordionExample_01">
                      <div class="accordion-body col-10 offset-1">

                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <p class="m-0 accordion-header" id="heading_01_4">
                      <button class="py-3 bg-white accordion-button text-dark text-start fw-700 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_4" aria-expanded="false" aria-controls="collapse_01_4">
                        How do I join the whitelist?
                      </button>
                    </p>
                    <div id="collapse_01_4" class="bg-white accordion-collapse collapse" aria-labelledby="heading_01_4" data-bs-parent="#accordionExample_01">
                      <div class="accordion-body col-10 offset-1">

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <p class="m-0 accordion-header" id="heading_01_5">
                      <button class="py-3 bg-white accordion-button text-dark text-start fw-700 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_5" aria-expanded="false" aria-controls="collapse_01_5">
                        Checkout our links and community
                      </button>
                    </p>
                    <div id="collapse_01_5" class="bg-white accordion-collapse collapse col-10 offset-1" aria-labelledby="heading_01_5" data-bs-parent="#accordionExample_01">
                        <a href="https://docs.stacksfi.xyz" class="nav-link" target="_blank">Docs</a>
                        <a href="http://discord.gg/zpmUK2e4ST" class="nav-link" target="_blank">Discord</a>
                        <a href="https://twitter.com/stacksfi_xyz" class="nav-link" target="_blank">Twitter</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section -->
        <section class="section pt-0">
          <div class="container">
            <div class="row justify-content-center mt-n12">
              <div class="col-10 col-sm-7 col-md-5 col-lg-4 wow fadeInUp">
                <div>
                  <br><br><br>
                  <img src="/assets/img/effect/free-1.svg" title="" alt="">
                </div>
              </div>
            </div>
            <div class="text-center pt-7 wow fadeInUp">
              <h3 class="h1 pb-4">Join the community</h3>

              <!-- <a class="btn btn-lg btn-primary" href="/wl">Join the whitelist</a> -->
              <!-- <p class="m-0 pt-2 small">Only 1,000 spots available</p> -->
            </div>
          </div>
        </section>
        <!-- End Section -->
      </main>
      <!-- End Main -->
      <!-- Footer -->
      <!-- Footer -->
      <footer class="footer bg-dark">
        <div class="container">
          <div class="row py-3 gy-3 align-items-center">
            <div class="col-sm-4 text-center text-sm-start">
              <div class="nav justify-content-center justify-content-sm-start">
                <a class="icon-sm bg-primary text-white rounded-circle me-2 hover-top" href="https://twitter.com/whaletrail_io">
                  <i class="bi-twitter"></i>
                </a>
                <a class="icon-sm bg-primary text-white rounded-circle me-2 hover-top" href="https://discord.gg/zpmUK2e4ST" target="_blank">
                  <i class="bi-discord"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-8 text-center text-sm-end">
              <p class="text-white-85 m-0">
                <script>document.write(new Date().getFullYear())</script> Stacks Finance
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
      <!-- End Footer -->
    </div>
    <!--
    ========================
       End Wrapper
    ========================
    -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/headroom/headroom.min.js"></script>
    <script src="/assets/vendor/typed/typed.min.js"></script>
    <!-- <script src="/assets/vendor/wow/wow.min.js"></script> -->
    <script src="/assets/vendor/one-page/scrollIt.min.js"></script>
    <script src="/assets/js/theme-jquery.min.js"></script>
    <script src="/assets/js/theme.min.js"></script>
  </body>
</html>
