<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind for pure styling -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/styles/style.css" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Title -->
    <title>Stacks</title>
  </head>

  <body>
    <!-- Header -->
    <div class="px-4 lg:max-w-screen-2xl mx-auto">
      <!-- Top menu -->
      <nav
        id="nav"
        class="flex items-center py-5 justify-between flex-row-reverse lg:flex-row">
        <div class="hidden lg:flex lg:items-center lg:gap-8 flex-1">
        </div>

        <img
          id="button"
          src="static/images/bugger.svg"
          alt=""
          class="cursor-pointer z-[99] lg:hidden"
        />
        <img class="z-[99]" src="static/images/logo.svg" alt="" />
        <div class="lg:flex hidden gap-8 flex-1 justify-end">
          <a
            href="https://discord.com/invite/zpmUK2e4ST"
            class="shadow-none text-4xl"
            target="_blank">DISCORD</a>
          <a
            href="https://twitter.com/stacksfi_xyz"
            class="shadow-none text-4xl"
            target="_blank">TWITTER</a>
          <a href="https://mirror.xyz/0x934AE6cCb5f413D9DFCb4171A54ECeCf1c0dA782/subscribe"
            class="shadow-none text-4xl"
            target="_blank">MIRROR</a>
        </div>
        <div
          id="modal"
          class="fixed overflow-hidden lg:hidden duration-300 inset-0 bottom-full bg-[#fff] flex flex-col gap-4 items-center justify-center"
        >
          <a
            href="https://discord.com/invite/zpmUK2e4ST"
            class="shadow-none text-5xl" target="_blank"
            >DISCORD</a>
          <a
            href="https://twitter.com/stacksfi_xyz"
            class="shadow-none text-5xl" target="_blank"
            >TWITTER</a>
          <a href="#" class="shadow-none text-5xl" target="_blank">MIRROR</a>
        </div>
      </nav>

      <!-- Header -->
      <header class="xl:max-w-screen-2xl mx-auto py-5 mt-3 pb-16">
        <div
          class="w-full flex items-center header-bg flex-col text-center lg:bg-cover lg:rounded-[24px] lg:aspect-[133/88] lg:pt-24 lg:text-white"
          style="color: #04AB53">

          <br><br><br>
          <h1 class="text-[86px] text-center leading-[60px] mt-3 text-[#01C962] lg:mt-8 lg:text-white lg:text-[100px]"
            style="color: #04AB53">
            STACKS IS COMING SOON
          </h1>
        </div>
      </header>
    </div>

    <!-- Footer -->
    <footer class="xl:max-w-screen-2xl mx-auto w-full px-4">
      <div class="flex lg:items-center items-start justify-between w-full">
        <div class="flex items-start flex-col lg:gap-12 gap-2 text-[#7F8596] lg:flex-row">
        </div>
        <div class="flex items-center lg:gap-6 gap-4">
          <a href="https://discord.com/invite/zpmUK2e4ST"
            ><img src="static/images/discord_active.svg" alt=""
          /></a>
          <a href="https://twitter.com/stacksfi_xyz"
            ><img src="static/images/twitter_active.svg" alt=""
          /></a>
        </div>
      </div>
      <div class="w-full bg-[#E7E7E1] h-[1px] my-6"></div>
      <div class="flex items-centr justify-between mb-6">
        <p class="text-sm text-[#7F8596]">© 2022 Stacked Finance</p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="static/script/index.js"></script>
  </body>
</html>
