whitelist
<%= hash %>

test
<br><br>
USDC balance: <span id="usdc-balance">wallet balance</span>
<br><br>
<button id="wallet">Connect wallet</button>

<br><br>
<div id="whitelisted" style="display: none">Already whitelisted!</div>

<br><br>
<button id="approve-usdc" style="display: none">Approve USDC</button>

<br><br>
<div id="register-block" style="display: none">
  <button id="pay-usdc">Register for a spot</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="scripts/web3/dist/web3.min.js"></script>
<script src="scripts/@truffle/contract/browser-dist/truffle-contract.min.js"></script>
<script>
  const referrerHash = '<%= hash %>';
  console.log(referrerHash)
</script>
<script src="static/main.js"></script>
