<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind for pure styling -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/styles/style.css" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Title -->
    <title>Stacks</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XEXC0V2C12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XEXC0V2C12');
    </script>
  </head>

  <body>
    <div class="px-4 lg:max-w-screen-2xl mx-auto">
      <nav
        id="nav"
        class="flex items-center py-5 justify-between flex-row-reverse lg:flex-row"
      >
        <div class="hidden lg:flex lg:items-center lg:gap-8 flex-1">
          <a href="#" class="flex items-center shadow-none gap-1 text-4xl">
            WHITELIST <img src="static/images/soon.svg" alt="" />
          </a>
          <a
            href="https://docs.stacksfi.xyz/"
            class="shadow-none text-4xl"
            target="_blank"
            >DOCS</a
          >
        </div>
        <img
          id="button"
          src="static/images/bugger.svg"
          alt=""
          class="cursor-pointer z-[99] lg:hidden"
        />
        <img class="z-[99]" src="static/images/logo.svg" alt="" />
        <div class="lg:flex hidden gap-8 flex-1 justify-end">
          <a
            href="https://discord.com/invite/zpmUK2e4ST"
            class="shadow-none text-4xl"
            target="_blank"
            >DISCORD</a
          >
          <a
            href="https://twitter.com/stacksfi_xyz"
            class="shadow-none text-4xl"
            target="_blank"
            >TWITTER</a
          >
          <a href="https://mirror.xyz/0x934AE6cCb5f413D9DFCb4171A54ECeCf1c0dA782/" class="shadow-none text-4xl" target="_blank">
            MIRROR
          </a>
        </div>
        <div
          id="modal"
          class="fixed overflow-hidden lg:hidden duration-300 inset-0 bottom-full bg-[#fff] flex flex-col gap-4 items-center justify-center"
        >
          <a
            href="#"
            class="flex items-center shadow-none gap-1 shadow-none text-5xl"
            >WHITELIST <img src="static/images/soon.svg" alt=""
          /></a>
          <a
            href="https://docs.stacksfi.xyz/"
            class="shadow-none text-5xl"
            target="_blank"
            >DOCS</a
          >
          <a
            href="https://discord.com/invite/zpmUK2e4ST"
            class="shadow-none text-5xl"
            target="_blank"
            >DISCORD</a
          >
          <a
            href="https://twitter.com/stacksfi_xyz"
            class="shadow-none text-5xl"
            target="_blank"
            >TWITTER</a
          >
          <a href="https://mirror.xyz/0x934AE6cCb5f413D9DFCb4171A54ECeCf1c0dA782/" class="shadow-none text-5xl" target="_blank">
            MIRROR
          </a>
        </div>
      </nav>

    <section class="lg:py-24">
      <div class="flex flex-col gap-6 px-4 pb-10 mx-auto lg:max-w-[1100px] lg:flex-row lg:justify-between lg:items-center lg:gap-30">
        <div class="flex flex-col max-w-[420px] gap-6">
          <h2 class="text-[72px] text-white leading-[56px] text-[#22252D] shadow-none">
            Whitelist is open!
          </h2>

          <a href="#" class="px-6 flex" id="wallet" style="display: none;">
            <img src="static/images/wallet.svg" class="mx-auto mt-3 max-w-full" alt="Connect wallet"/>
          </a>

          <div id="wrong-network" style="display: none;">
            <p class="text-lg text-[#494E5B]">
              ... but you need to be on Ethereum mainnet.
            </p>
          </div>

          <div id="main-content" style="display: none;">
            <p class="text-lg text-[#494E5B]">
              The whitelist has multiple levels. The earlier, the cheaper:
            </p>
            <div class="flex flex-col gap-5 mt-6">
              <div class="flex items-start gap-3 text-lg text-[#494E5B] levels">
                <span>Level 1: 100 USDC (first 100)</span>
                <img src="static/images/tick.svg" alt="" style="display: none;" />
              </div>
              <div class="flex items-start gap-3 text-lg text-[#494E5B] levels">
                <span>Level 2: 250 USDC (first 250)</span>
                <img src="static/images/tick.svg" alt="" style="display: none;" />
              </div>
              <div class="flex items-start gap-3 text-lg text-[#494E5B] levels">
                <span>Level 3: 500 USDC (first 500)</span>
                <img src="static/images/tick.svg" alt="" style="display: none;" />
              </div>
              <div class="flex items-start gap-3 text-lg text-[#494E5B] levels">
                <span>Level 4: 1,000 USDC (first 1,000)</span>
                <img src="static/images/tick.svg" alt="" style="display: none;" />
              </div>
            </div>
            <br><br>
            <div class="flex items-start  text-lg text-[#494E5B]">
              How will the funds be used? What are the benefits of being early? Click below to learn.
            </div>
            <br>
            <a href="https://docs.stacksfi.xyz/launch/whitelist" target="_blank">
              <img src="static/images/learn.svg" alt="Learn more"/>
            </a>
          </div>
        </div>

        <!-- IF ACCOUNT IS REGISTERED -->
        <div class="flex flex-col lg:mr-auto lg:ml-auto max-w-[420px] flex-[0_0_420px]" id="registered" style="display: none;">
          <div class="py-8 rounded-[24px] mt-8 bg-[#1D3144]">
            <div class="flex justify-center items-center gap-4 px-6 flex-wrap">
              <span class="text-[24px] font-semibold text-white">You're in.<br>Thank you for registering!</span>
            </div>
          </div>
        </div>

        <!-- IF ACCOUNT NOT REGISTERED -->
        <div class="flex flex-col lg:mr-auto lg:ml-auto max-w-[420px] flex-[0_0_420px]" id="register-box" style="display: none;">
          <div class="py-8 rounded-[24px] mt-8 bg-[#1D3144]">
            <div class="flex justify-center items-center gap-4 px-6 flex-wrap">
              <span class="text-[45px] font-semibold text-white">Register here</span>
              <br><br>

            </div>

            <div class="flex justify-center items-center gap-4 px-6 flex-wrap">
              <span
                class="text-sm text-white border-[rgba(106, 187, 124, 0.3)] border rounded px-3 py-1 mt-4">
                You are registering as number <span id="wl-number"></span>
              </span>
            </div>

            <div class="flex justify-center items-center gap-4 px-6 flex-wrap">
              <span
                class="lg:text-xl text-white px-3 py-1 mt-4 ">
                Current cost: <span id="plan-price"></span> USDC
              </span>
            </div>


            <div class="w-full h-[1px] bg-[#E7E7E1] mt-6 mb-6"></div>
            <p class="text-center text-sm text-white ">
              Secure your whitelist slot
            </p>

            <a href="#" class="px-6 flex" id="approve-usdc" style="display: none;">
              <img src="static/images/approve.svg" class="mx-auto mt-3 max-w-full" alt="Approve USDC"/>
            </a>
            <a href="#" class="px-6 flex" id="pay-usdc" style="display: none;">
              <img src="static/images/register.svg" class="mx-auto mt-3 max-w-full" alt="Register for whitelist"/>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- IF ACCOUNT IS REGISTERED -->
    <section class="bg-[#F7F7F0] w-full px-4 py-16 lg:py-32" id="referral-post-wl" style="display:none">
      <div class="max-w-[1100px] mx-auto flex flex-col gap-10">
        <h2 class="text-[72px] text-white leading-[56px] lg:text-center text-[#22252D] shadow-none lg:mb-6">

          Refer <span class="lg:text-[#00AC54]">STACKS</span> 💸
        </h2>
        <div class="flex flex-col bg-white rounded-[24px] px-6 w-full lg:p-8">
          <button
            class="accordion gap-2 flex justify-between text-xl font-semibold py-6"
          >
            Your referral link
            <img src="static/images/down.svg" class="rotate-180" alt="" />
          </button>
          <div class="panel duration-300">
            <p class="text-sm text-[#494E5B] lg:text-base">
            <!-- if you're reading the code don't bother cause it won't work, you need to be registered to refer people -->
            <!-- also you can't refer yourself. soz -->

              https://stacksfi.xyz/r/<span id="referral-link"></span>
            </p>
          </div>

          <button class="accordion gap-2 flex justify-between text-xl font-semibold py-6 border-b border-[#D9D9D9]">
            Referral stats
            <img src="static/images/down.svg" class="rotate-180" alt="" />
          </button>
          <div class="panel duration-300">
            <p class="text-sm text-[#494E5B] lg:text-base">
              <b>Users referred:</b> <span id="referral-count"></span>
              <br>
              <b>Funds to receive:</b> <span id="referral-funds"></span> USDC
              <br>
              <b>Referred by:</b> <span id="referral-referred-by"></span>
            </p>
          </div>

          <button class="accordion gap-2 flex justify-between text-xl font-semibold py-6 border-b border-[#D9D9D9]">
            Other infos
            <img src="static/images/down.svg" class="rotate-180" alt="" />
          </button>
          <div class="panel duration-300">
            <p class="text-sm text-[#494E5B] lg:text-base">
              Payout is 50 USDC per referral that joins the whitelist.
              <br>
              Funds will be available for withdrawal after the whitelist is closed.
              <br>
              Cookies for referral links are valid forever.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- IF ACCOUNT NOT REGISTERED -->
    <section class="py-16 bg-white w-full" id="referral-pre-wl" style="display:none">
      <div
        style="background-image: url(static/images/community.jpg)"
        class="xl:max-w-screen-2xl mx-auto py-16 mt-3 bg-cover flex flex-col items-center gap-10 pb-96 mx-4 rounded-[24px] 2xl:mr-auto 2xl:ml-auto xl:aspect-[126/74] lg:pt-28"
      >
        <h2
          class="text-[72px] text-white text-center leading-[56px] shadow-none lg:text-[100px]"
        >
          REFER YOUR COMMUNITY
        </h2>
        <div class="flex items-center gap-6">
          <div class="flex justify-center items-center gap-4 px-6 ">
            <p class="text-center text-sm text-white font-semibold">
              Receive 50 USDC per referral
            </p>
          </div>

          <div class="flex justify-center items-center gap-4 px-6">
            <p class="text-center text-sm text-white font-semibold">
              Collect your rewards as soon as the WL closes
            </p>
          </div>

          <div class="flex justify-center items-center gap-4 px-6">
            <p class="text-center text-sm text-white font-semibold">
              You'll need to register in order to refer someone
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="xl:max-w-screen-2xl mx-auto w-full px-4">
      <div class="flex lg:items-center items-start justify-between w-full">
        <div
          class="flex items-start flex-col lg:gap-12 gap-2 text-[#7F8596] lg:flex-row"
        >
          <a href="#" class="shadow-none text-3xl">WHITELIST (SOON)</a>
          <a href="https://docs.stacksfi.xyz/" target="_blank" class="shadow-none text-3xl">DOCS</a>
        </div>
        <div class="flex items-center lg:gap-6 gap-4">
          <a href="https://discord.com/invite/zpmUK2e4ST" target="_blank"
            ><img src="static/images/discord_active.svg" alt=""
          /></a>
          <a href="https://twitter.com/stacksfi_xyz" target="_blank"
            ><img src="static/images/twitter_active.svg" alt=""
          /></a>
        </div>
      </div>
      <div class="w-full bg-[#E7E7E1] h-[1px] my-6"></div>
      <div class="flex items-centr justify-between mb-6">
        <p class="text-sm text-[#7F8596]">2022 Stacks Finance</p>
        <!-- <p class="text-sm text-[#7F8596]">Privacy policy</p> -->
      </div>
    </footer>

    <!-- Scripts -->
    <script src="static/script/index.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="scripts/web3/dist/web3.min.js"></script>
    <script src="scripts/@truffle/contract/browser-dist/truffle-contract.min.js"></script>
    <script>
      const referrerHash = '<%= hash %>';
      console.log(referrerHash)
    </script>
    <script src="static/script/main.js"></script>

  </body>
</html>
